*{
    font-family: 'Poppins', sans-serif;
}

.table{
    border-collapse:separate;
    border-spacing:0 10px;
}

tbody tr td:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

tbody tr td:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
} 